@charset "UTF-8";

/*
 * FREE FOR ALL BUT DOES NOT MEAN THERE IS NO PRICE.
 *
 * @author Tien Nguyen
 * @version $Id: common.css,v 1.0 2011/10/03 21:14:25 lilylnx Exp $
 */

*|*:-moz-any-link:focus { outline: none; }
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { padding: 1px 2px; border: 1px none; }
input[type="button"],
input[type="submit"],
input[type="image"], label { cursor: default; }
a, a:visited, a:focus { color: #04b; text-decoration: none; }
a:hover, a:active { color: #e47911 /*#d2480e*/; text-decoration: underline; }
abbr { border-bottom: 1px dotted #a3756e; }
h1, h2, h3, h4, h5, h6 { font-family: Lucida Grande, Helvetica, Arial, sans-serif; }
h1 { font-size: 27px; }
h2 { font-size: 23px; }
h3 { font-size: 17px; }
h4, h5, h6 { font-size: 11px; }
img, div { max-width: 100%; }
p { margin-bottom: .85em; }
pre, code { font-family: Monaco, 'Dejavu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace; }
strong { font-weight: bold; }
html { overflow-x: auto; overflow-y: scroll; }
html, body { height: 100%; }
body { min-width: 951px; line-height: 16px; color: #333; background-color: #e7ebf2; font-family: Lucida Grande, Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; vertical-align: baseline; visibility: visible; }

.alignleft { float: left; }
.alignright { float: right; }
.clear, .section { clear: both; display: block; overflow: hidden; }
.clear:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.fixed_elem { position: fixed !important; }
.hidden { display: none; }
.nobullet { list-style-type: none; }
.w100 { width: 100%; }
.widefat { clear: both; width: 100%; }
.widefat * { word-wrap: break-word; }
ol.nobullet, ul.nobullet { padding-left: 0; }
table.fixed { table-layout: fixed; }

/*----- HIKARI THEME -----*/

.hikari .amz-nav-sprite { background-image: url(images/BeaconSprite-US-01._V141013396_.png); }
