@charset "UTF-8";

/*----- HIKARI THEME -----*/

#hikari { margin: 0 auto; width: 981px; min-width: 981px; }
#hikari #globalHeader { border-width: 0 1px 1px; }
#hikari-nav-logo { position: absolute; bottom: -4px; left: 10px; display: block; width: 100px; height: 30px; text-indent: -500px; background-position: -10px -10px; }
#hikari-nav-startmenu { left: 15px; width: 112px; }
#hikari-nav-account { right: 178px; width: 125px; }
#hikari-nav-cart { right: 77px; width: 96px; }
#hikari-nav-cart .amz-navbutton-inner .amz-navbutton-title { position: absolute; top: 19px; right: 20px; }
#hikari-nav-help { right: 12px; width: 60px; }
#hikari-divider-account { right: 175px; }
#hikari-divider-cart { right: 74px; }

#pagelet_ads .pad { padding: 5px 0 0; }