@charset "UTF-8";

/*----- HIKARI THEME -----*/

#hikari-nav-logo { position: absolute; bottom: -4px; left: 10px; display: block; width: 100px; height: 30px; text-indent: -500px; background-position: -10px -10px; }
#hikari-nav-startmenu { left: 15px; width: 112px; }
#hikari-nav-account { right: 178px; width: 125px; }
#hikari-nav-cart { right: 77px; width: 96px; }
#hikari-nav-cart .amz-navbutton-inner .amz-navbutton-title { position: absolute; top: 19px; right: 20px; }
#hikari-nav-help { right: 12px; width: 60px; }
#hikari-divider-account { right: 175px; }
#hikari-divider-cart { right: 74px; }

.temp { float: left; margin: 8px; padding: 15px; width: 180px; background-color: #fff; border: 1px solid #c4cde0; border-bottom-width: 2px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; font-family: Arial, sans-serif; }
.temp2 { float: none; margin-left: 235px; margin-right: 255px; width: auto; }
.temp3 { float: right; width: 200px; }
.amz-box-path { padding-bottom: 8px; font-family: Segoe UI Light, Arial, sans-serif; font-size: 1.4em; border-bottom: 1px solid #eee; }