@charset "UTF-8";

/*----- HIKARI THEME -----*/

.hikari .gA,
.hikari .gl { position: relative; }
.hikari .amz-globalheader-bottomborder { clear: both; overflow:hidden; height: 1px; }
.hikari #globalHeader { background-color: #fff; border-bottom: 1px solid #c4cde0; box-shadow: 0 0 3px rgba(0,0,0,.1); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1); -moz-box-shadow: 0 0 3px rgba(0,0,0,.1); }
.hikari #globalContainer { height: auto; min-height: 100%; }
.hikari #globalFooter { clear: left; }
.hikari .amz-discovery { zoom: 1; }
.hikari .amz-links,
.hikari .amz-navbar { position: relative; }
.hikari .amz-links { margin-left: 10px; _height: 39px; min-height: 39px; z-index: 100; }
.hikari .amz-cross-links { position: absolute; left: 169px; bottom: -4px; line-height: 32px; white-space: nowrap; }
.hikari .amz-cross-links .amz-xs-link { display: inline; margin-left: .5em; padding-left: .75em; border-left: 1px solid #ddd; }
.hikari .amz-cross-links .amz-xs-link.first { margin-left: 0; padding-left: 0; border-left: 0; }
.hikari .amz-welcome-row { margin-left: 245px; text-align: right; }
.hikari .amz-welcome-row .amz-text { position: absolute; right: 20px; bottom: 4px; }
.hikari .amz-logo-borderfade { position: absolute; top: 0; left: 0; width: 245px; height: 1px; background-color: #fff; }
.hikari .amz-logo-borderfade .amz-fade { overflow: hidden; margin-left: 145px; height: 1px; background-position: -10px -531px; }
.hikari .amz-navbar-inner { height: 55px; background-position: 0 -355px; border-top: 1px solid #ddd; }
.hikari .amz-navbutton-outer { position: absolute; top: 8px; height: 40px; display: block; text-decoration: none; }
.hikari .amz-navbutton-outer .amz-down-arrow { position: absolute; right: 8px; bottom: 10px; display: block; width: 9px; height: 5px; background-position: -130px -50px; background-repeat: no-repeat; }
.hikari .amz-navbutton { display: block; margin-right: 5px; height: 40px; background-position: 0 500px; background-repeat: no-repeat; }
.hikari .amz-navbutton-inner { position: relative; right: -5px; display: block; padding: 0 5px; height: 40px; background-position: 0 500px; background-repeat: no-repeat; }
.hikari .amz-navbutton-inner .amz-navbutton-title { position: relative; top: 7px; display: block; overflow: hidden; margin-bottom: -2px; line-height: 14px; color: #2e3741; white-space: nowrap; }
.hikari .amz-navbutton-inner .amz-navbutton-em { color: #e47911; font-weight: bold; }
.hikari .amz-navbutton-inner .amz-navbutton-strong { line-height: 16px; font-size: 14px; font-weight: bold; }
.hikari .amz-navbutton-inner .amz-cart-button { position: absolute; top: 8px; display: block; overflow: hidden; width: 38px; height: 30px; background-position: -10px -50px; }
.hikari .amz-navbutton-inner .amz-cart-0,
.hikari .amz-navbutton-inner .amz-cart-10,
.hikari .amz-navbutton-inner .amz-cart-20,
.hikari .amz-navbutton-inner .amz-cart-100 { position: absolute; top: 5px; left: 18px; width: 20px; color: #e47911; font-weight: bold; text-align: center; }
.hikari .amz-navbutton-inner .amz-cart-0 { top: 6px; width: 19px; font-size: 16px; }
.hikari .amz-navbutton-inner .amz-cart-10 { left: 17px; font-size: 14px; }
.hikari .amz-navbutton-inner .amz-cart-20 { font-size: 14px; }
.hikari .amz-navbutton-inner .amz-cart-100 { font-size: 11px; }
.hikari .amz-nav-divider { position: absolute; top: 11px; overflow: hidden; width: 1px; height: 34px; border-right: 1px solid #ddd; }
.hikari .amz-navsearch-container { margin: 0 352px 0 177px; }
.hikari .amz-navsearch-container .amz-navsearch-label { position: absolute; top: 22px; font-weight: bold; }
.hikari .amz-navsearch-container .amz-searchbar { position: relative; display: block; margin: 10px 0 0 50px; height: 34px; }
.hikari .amz-navsearch-container .amz-searchfield-outer { margin-right: 39px; padding-left: 5px; height: 34px; background-position: -10px -120px; background-repeat: no-repeat; }
.hikari .amz-navsearch-container .amz-searchfield-inner { height: 34px; background-color: #fff; background-position: 0 -550px; background-repeat: repeat-x; }
.hikari .amz-navsearch-container .amz-searchfield-tbox { margin-top: 7px; padding: 0; width: 100%; height: 23px; background: transparent; border: 0; outline: 0; font-size: 12pt; }
.hikari .amz-navsearch-container .amz-searchfield-submit { position: absolute; right: 0; top: 0; overflow: hidden; padding-left: 3px; height: 34px; background-position: -33px -120px; }
.hikari .amz-navsearch-container .amz-searchfield-submitbutton { width: 39px; height: 34px; background: none; border: 0; color: #fff; cursor: pointer; font-weight: bold; }